* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #cecedc;
}

.logo_container {
    margin-left: 4%;
}

.myntra_home {
    height: 45px;
}

/* NAVBAR */
.nav-bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

.nav-bar a {
    padding: 28px 0;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.nav-bar a:hover {
    border-bottom: 4px solid #f54e77;
}

.nav-bar a sup {
    font-size: 10px;
    color: red;
    text-transform: uppercase;
}

/* SEARCH BAR */
.search_bar {
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 200px;
    width: 30%;
}

.search_icon {
    padding: 10px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-radius: 4px 0 0 4px;
    color: #282c3f;
    font-weight: 300;
}

.search_input {
    flex-grow: 1;
    height: 40px;
    border: none;
    background: #f5f5f6;
    border-radius: 0 4px 4px 0;
    color: #696e79;
}

/* ACTION BAR */
.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BANNER */
.banner_container {
    width: 100%;
    margin: 20px 0;
}

.banner_images {
    width: 100%;
    display: block;
    height: auto;
    cursor: pointer;
}

/* CATEGORY */
.category_heading {
    font-size: 28px;
    font-weight: 700;
    color: #3e4152;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px 0 20px 30px;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
    margin-bottom: 40px;
}

.sale_item {
    width: 247px;
}

/* FOOTER */
.footer_container {
    display: flex;
    justify-content: space-evenly;
    background-color: #fafbfc;
    padding: 30px 0 40px;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer_column a {
    font-size: 15px;
    text-decoration: none;
    color: #696b79;
    padding-bottom: 5px;
}

/* COPYRIGHT */
.copywrite {
    color: #94969f;
    margin: 15px 100px;
}
